/* Media Queries for Responsiveness */
@media (max-width: 1024px) {
    .nav-bar {
        flex-direction: column;
        height: 75px;
    }
}

@media (max-width: 920px) {
    .nav-bar {
        flex-direction: column;
        height: 75px;
    }

    .toggle-button {
        display: flex;
        margin: 4% 0 0 95%;
    }

    .navbarlinks- ul {
        flex-direction: column;
        width: 100%;
        display: none;

    }

    .content1 {
        width: 70%;
    }

    .content1 ul li {
        font-size: 18px;
    }

    #line1,
    #line2,
    #line3,
    #line4,
    #line5,
    #line6,
    #line7,
    #line8 {
        font-size: 1.5rem;
        padding: 1.5rem 3rem;
    }

    .details1,
    .details2,
    .details3,
    .details4,
    .details5,
    .details6,
    .details7,
    .details8 {
        font-size: 30px;

    }

    .navbarlinks- ul li {
        text-align: center;
        padding: 1rem 0;
    }

    .container1,
    .container2 {
        margin: 1rem;
        padding: 1rem;
    }

    table,
    th,
    td {
        font-size: 16px;
        padding: 10px;
    }

    .telegram-alert span {
        font-size: 18px;
    }

    .box {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .toggle-button {
        display: flex;
        margin: 8% 0 0 95%;
    }
    .navbar-links {
    height: 100%;
}
    .navbarlinks- ul {
        padding: 0;
    }

    .navbarlinks- ul li {
        padding: 0.5rem 0;
    }

    .content1 {
        width: 100%;
    }

    .content1 ul li {
        font-size: 12px;

    }

    .details1,
    .details2,
    .details3,
    .details4,
    .details5,
    .details6,
    .details7,
    .details8 {
        font-size: 20px;

    }

    #line1,
    #line2,
    #line3,
    #line4,
    #line5,
    #line6,
    #line7,
    #line8 {
        font-size: 1rem;
        padding: 0.5rem 1.5rem;
    }

    .telegram-alert {
        flex-direction: column;
        text-align: center;
    }

    .telegram-alert span {
        margin-bottom: 1rem;
    }
}